# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
.gradle/
gradle/
libs/
logs/
*.log
*.hprof

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
.vscode/

# Maven
.mvn/
target/
**/target/

# Operating System Files
.DS_Store
Thumbs.db

# Spring Boot Specific
/target/
/bin/
/logs/
/uploads/
/debian-dev/
/activemq/
/duckdns/
/globify/

# IDEs and Editors
/.idea/
/.vscode/
/*.iml
/.gradle

# Temp Files
*.log
*.hprof

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
