<configuration>
    <property name="LOG_PATH" value="logs"/>

    <!-- Formatter -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- Ne logolj Hibernate-et -->
    <logger name="org.hibernate" level="WARN"/>

    <!-- File appender minden lognak -->
    <appender name="ALL_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/globify_server.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/globify_server.%d{yyyy-MM-dd_HH}.log</fileNamePattern>
            <maxHistory>48</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- File appender csak ERROR logoknak -->
    <appender name="ERROR_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/globify_server_screen.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/globify_server_screen.%d{yyyy-MM-dd_HH}.log</fileNamePattern>
            <maxHistory>48</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="ALL_LOG_FILE"/>
        <appender-ref ref="ERROR_LOG_FILE"/>
    </root>
</configuration>
